<p id="notice"><%= notice %></p>


<div class="jumbotron">
  <h1><%= @cocktail.name %></h1>
  <p><%= @cocktail.description %> | Price: <%= @cocktail.price %></p>

<%= link_to 'Add more ingredient', new_cocktail_dose_path(@cocktail), :class => "btn btn-primary btn-xs" %>
  <% @ingredients.each do |x| %>
    <div class="alert alert-info" role="alert">
      <%= x[:ingredient].name %>  <span class="badge"><%= x[:dose].description %></span>
    </div>
  <% end %>

</div>



<%= link_to 'Edit', edit_cocktail_path(@cocktail), :class => "btn btn-primary btn-xs" %>
<%= link_to 'Back', cocktails_path, :class => "btn btn-primary btn-xs" %>
