<h1>Choose Ingredient for <%= @cocktail.name %></h1>



<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :ingredient_id, :collection => @ingredients.map { |x| ["#{x.name} (#{x.quantity_measurement})",  x.id]}, :include_blank => "(select if none)" %>
  <%= f.input :quantity , :placeholder   => "only number" %>
  <%= f.input :description %>
  <%= f.submit "add ingredient", class: "btn btn-primary" %>
<% end %>
